<div class="row">
  <div class="col-xs-12 col-md-10 offset-md-1 m-top-20">
    <h1 class="mat-headline megrim">Handlettering</h1>

    <p>
      I've recently decided to teach myself calligraphy and handlettering.
    </p>

    <div class="row">
      <div class="col-xs-12 m-top-20">
        <div class="row justify-content-center">
          <div class="col-xs-12 col-4 text-center" *ngFor="let item of handletteringItems">
            <img class="img-fluid" src="../../assets/images/handlettering/{{item.imgSrc}}" alt="{{item.alt}}" style="max-width: 75%;">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
