<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-1 m-top-20">
    <h1 class="mat-headline megrim">Hi, I'm <span class="em mat-accent">Loriah</span>!</h1>

    <p>
      I’m a pretty big fan of User Experience and Front-End Development.
    </p>

    <p>
      I originally applied to New York University to study Neural Science and Psychology, because I was fascinated with the Human Mind and how and why humans make decisions. I quickly learned that I was less interested in going to Med School, and decided to follow my interest in Technology I had begun to cultivate in high school AP Computer Science by changing my major. This brought me to an internship my Junior Year as a Front-End Web Developer at Victoria’s Secret PINK, where I actually learned the term “User Experience” for the first time. This is where I realized the values of User Research and Design when building products - <span class="em mat-accent">I firmly believe that User Experience brings intention to Development</span>. For me, UX perfectly combined what I originally wanted in studying Neural Science and Psychology, and brought in my interest in Computer Science as well.
    </p>

    <p>
      When I graduated from NYU in 2015, I joined the BNY Mellon User Experience Team as a designer after completing a 3-month technical training program. I did some pretty cool User Research and Interaction Design during my role here, primarily working on our employee Intranet and client-facing platforms. As a hands-on designer, I worked with our engineering team for 4 months to gain a better understanding of our client-platform architecture in order to produce achievable designs. After squashing my fair share of bugs, I moved back to the User Experience Team to assist in building out our Design System. For the last few months, I’ve been working with Product, UX, and Engineering to re-imagine our Design System and build out the newest suite of common UI components. I love working on cross-functional teams and would love to learn new UX Research and Design skills, especially relating to how data can help inform client decisions.
    </p>

    <p>
      Along the way, I also led a weekly innovation series for 12 months, regularly teach Design Thinking Workshops to colleagues, planned and orchestrated BNY Mellon’s 2015 World Usability Day presence, and co-planned and lead a Product Management Workshop at the 2016 Grace Hopper Conference. I try to attend NYC’s Designers and Geeks and Angular NYC meetups as regularly as possible, and am constantly enrolled in a Coursera course.
    </p>

    <p>
      I love to travel, and went to 16 cities in 2017. I’ve also played volleyball with ZogSports since 2015, have been a pescetarian since 2012, and LOVE to eat. My StrengthsFinders strengths are <a href="http://news.gallup.com/businessjournal/709/restorative.aspx">Restorative</a>, <a href="http://news.gallup.com/businessjournal/670/focus.aspx">Focus</a>, <a href="http://news.gallup.com/businessjournal/682/includer.aspx">Includer</a>, <a href="http://news.gallup.com/businessjournal/631/analytical.aspx">Analytical</a>, and <a href="http://news.gallup.com/businessjournal/673/futuristic.aspx">Futuristic</a>, and my Myers-Briggs Type Index is <a href="https://www.16personalities.com/infj-personality">INFJ</a>.
    </p>

    <p>
      Interested in learning more? <a href="contact" class="em mat-accent">Contact me</a> or <a href="portfolio" class="em mat-accent">check out my portfolio</a>.
    </p>

  </div>
</div>
