@import "~@angular/material/theming";

@mixin about-theme($theme) {
  $accent: map-get($theme, accent);

  .em .mat-accent {
    color: mat-color($accent, 400)
  }

  a {
    text-decoration: none;
    color: mat-color($accent, 400);
    &:hover {
      text-decoration: underline;
      &:not(.mat-button-wrapper) {
        color: mat-color($accent, 900) !important;
      }
    }
  }
}
