<div class="row">
  <div class="col xs-12 col-md-10 offset-md-1 m-top-20 m-bot-20">
    <h1 class="mat-headline megrim">Idea Submission Site</h1>

    <p>
      The Idea Portal currently exists as a platform for employees to submit innovative solutions that will improve the operations of the company. A similar idea submission platform exists on the company's internal social networking site, where employees identify potential areas within the company that can be improved. Ideally, the crowdsourcing, social aspect of the internal social networking solution can be combined with the structure and process definition within the existing Idea Portal to create an ideal user experience.
    </p>

    <p>
      I was the lead designer on this project. In addition to completing a heuristic review of the existing portal, I interviewed many users of the current site to understand their pain points and difficulties in preparation for designing the new system.
    </p>

    <strong>Process</strong>
    <p>
      Following the initial requirements gathering meeting and a heuristic review of the existing Portal, the User Experience Team will meet with the core idea/development team on a weekly basis throughout the month of May for process clarification, prototype review, and for declaring next steps. In addition to weekly team meetings, the User Experience Team will meet with stakeholders to empathize with their use of the current system, and incorporate their experiences into the new design.
    </p>
    <p>
      <em>
        Due to my non-disclosure agreement, I will not be sharing actual images of the site as it was. Rather, all opinions and words are my own, and all prototypes are my own based on the original.
      </em>
    </p>

    <div class="portfolio-hero text-center">
      <img src="../../assets/images/idea2.jpg" class="idea-image">
    </div>

    <h2>1| Heuristic Evaluation of Existing Site</h2>
    <h3>Homepage</h3>
    <p>
      At first glance, there seems to be a lot of information on the page. There are a lot of bold, bright colors, which increase the difficulty of finding the correct task. There is navigation both on the top and left-side of the page, so I'm not sure where I should be looking to complete a task. If I wanted to submit an idea, I am not sure where I would actually do that.
    </p>
    <p>
      The news page seems like it could be an important way to highlight information and resources that would encourage someone to submit an idea or encourage someone to learn more about ideas. I also like being able to see the active campaigns - this should be a larger focus on the page.
    </p>

    <h3>
      My Ideas Page
    </h3>
    <p>
      This page is meant to show the user all of the ideas that they have submitted. It seems like a good opportunity to add a "Submit an Idea" button.
    </p>

    <h3>
      Recommendations
    </h3>
    <p>
      This page is meant to show the user ideas that have been recommended to them. When I come to the page, my first question is why are these ideas recommended to me? It would also be nice to see a brief description of the ideas before being required to click into them.
    </p>

    <h3>
      Innovation News
    </h3>
    <p>
      The News page seems like it would be beneficial if users were spending a lot of time looking for Innovation News when they come to the site. There is a lot of content here that could be better organized on another site.
    </p>

    <h3>Reviewers List</h3>
    <p>
      This link is part of the Idea Review process that all idea submissions pass through. The load time was fairly slow, and there is not enough feedback for the user to know they should wait for a file to download after clicking the link.
    </p>

    <h3>Businesses</h3>
    <p>
      This page is intended to teach idea submitters about the Lines of Businesses that they can submit their ideas to be a part of. This page seems essential, however the purpose is unclear upon first visit.
    </p>

    <h3>Metrics</h3>
    <p>
      This page has a lot of useful information, and is interestingly the only page I can go to that allows me to view submitted ideas. There is also no scrollbar on the page, so I am unable to see the information that is 'below the fold'. There is also a legal disclaimer on the top of the page that is easy to miss because it has the same visual treatment as multiple alerts on the page.
    </p>

    <h3>Contact Us</h3>
    <p>
      This tab opens up the same 'My Innovation Team' window that we have already seen before. If this information needs to be seen at all times, then we can centralize it within the application.
    </p>

    <h3>My Idea Portal</h3>
    <p>
      The collaborative features of this portal can be moved to the internal social networking site to improve collaboration, participation, and visibility. For example, calendar events can be created in the internal social networking site, which will allow people to actually register to the event.

    </p>
    <p>
      It seems like the majority of the actual action is taken from this portal, which is only accessible through a small link on the main site. We can highlight the important actions from this new page in the portal.

    </p>
    <p>
      There are a lot of options here for forms. We can make the form type simple enough to include the request type and description.

    </p>
    <p>
      I understand the Businesses page to be incredibly important for the user to know where they should submit their ideas. However, these two pages are two separated for the user to remember this information, We should include some helping information on the new design.
    </p>

    <h3>Other screens</h3>
    <ul>
      <li>
        <strong>My Subscriptions:</strong> Users are able to subscribe to receive updates on idea submissions they are interested in.
      </li>
      <li>
        <strong>Ideas Referred to Me:</strong> Users are able to view ideas that others have recommended to them.
      </li>
      <li>
        <strong>Your Innovation Team:</strong> A page displaying the team that works to coordinate the idea submission process.
      </li>
      <li>
        <strong>Employee Recognition:</strong> A page to show past award winners and idea success stories.
      </li>
      <li>
        <strong>Organization Chart:</strong> Lists the company's reporting structure.
      </li>
      <li>
        <strong>Ideas:</strong> View of all ideas that have been submitted.
      </li>
      <li>
        <strong>Campaigns:</strong> Ongoing 'themed' idea submissions.
      </li>
      <li>
        <strong>FAQ:</strong> Guidance on how to submit ideas for users.
      </li>
    </ul>

    <h2>2| Empathize with the User</h2>
    <h3>User Interviews</h3>
    <p>
      To get an understanding of the current user experience, I organized user interviews with a number of frequent users of the system ("Innovation Champions"), asking the following questions:
    </p>
    <ul>
      <li>
        What is your line of business and role?
      </li>
      <li>
        How long have you worked at the company?
      </li>
      <li>
        How long have you been an Innovation Champion?
      </li>
      <li>
        How did you become an Innovation Champion?
      </li>
      <li>
        What does being an Innovation Champion entail for you?
      </li>
      <li>
        How often do you visit the current innovation portal? What are you typically looking to do when you enter the portal?
      </li>
      <li>
        What is your current experience submitting ideas via the current Innovation Portal?
      </li>
      <li>
        What is your understanding of the current idea submission process?
      </li>
      <li>
        How satisfied are you with your ability to view and track the status of your idea after it's been submitted?
      </li>
      <li>
        What are your thoughts on the current process for tracking completion/execution of an idea?
      </li>
      <li>
        What do you think might motivate an idea that previously hadn't before?
      </li>
      <li>
        What are some things you think work well about the current submission process?
      </li>
      <li>
        What are some things you think could be improved about the current submission process?
      </li>
      <li>
        What are some things you think work well about the current idea portal?
      </li>
      <li>
        What are some things you think could be improved about the current idea portal?
      </li>
      <li>
        Have you made use of campaigns before? What has your experience been like thus far?
      </li>
    </ul>

    <h3>Understanding User Feedback</h3>
    <p>
      Below is a compiled list of notes, quotes, and general findings from the user interviews:
    </p>

    <p>
      <strong>Notes</strong>
    </p>
    <ul>
      <li>
        How to encourage users to submit ideas beyond monetary incentives?
      </li>
      <li>
        Some submitters may not realize how much time it takes to submit ideas
      </li>
      <li>
        Some submitters have expressed discouragement after submitting ideas yet have never heard anything - they may not want to submit an idea again
      </li>
      <li>
        Approvers get emails when ideas are submitted - it is a fairly seamless process to approve ideas
      </li>
      <li>
        Users make extensive use of Campaigns, not so much JAMs through the system. Users are much more likely to meet biweekly to discuss innovation.
      </li>
      <li>
        Review current usage of the portal - initially people were submitting lots of ideas, but as the portal grew, approvers couldn't support the influx of ideas, resulting in user frustration.
      </li>
      <li>
        One LOB has designed their own tool - a simple spreadsheet for tracking ideas specific to their own business. They are less focused on the use of the portal for their own company, and more focused on day to day innovation to improve quality of work and making employees more effective workers.
        <ul class="details-text">
          <li>
            Spreadsheet provides immediate status and clear ownership - ideas are prioritized based on impact and taken into account at employee's year end review
          </li>
          <li>
            Employees are encouraged to think about what they could do to improve their lives on a daily basis, and submit those as ideas. Not all of them are globally impactful, but the fact that ideas are being submitter starts a snowball effect - more confidence in submitting ideas - encourage others
          </li>
          <li>
            Redesigned system is separated by years, ideas submitted are focused on the day to day difference
          </li>
          <li>
            Simple fields - highlighting current workload vs new workload
          </li>
          <li>
            Flat approval process, ideas move at their own pace
          </li>
        </ul>
      </li>
      <li>
        Meetings are help biweekly to discuss innovation for a business
      </li>
      <li>
        User suggestion: The current application is cumbersome, it would be nice to separate it out into smaller sections, perhaps by business. There is transparency in the current system, to an extent, but it is difficult to be able to clearly see what someone else on your team or LOB is already doing and what ideas are already out there.
      </li>
      <li>
        User wanted summary of submissions but found it difficult to pull information of ideas that have been submitted -> couldn't easily find summary data.
      </li>
      <li>
        What does 'approved' mean once an idea is 'approved for idea development'? "There is no point in having movement of idea if no one owns it?"
      </li>
    </ul>
    <p>
      <strong>Wishes</strong>
    </p>
    <ul>
      <li>
        Make primary/secondary business selection easier to point the submitter in the right direction
      </li>
      <li>
        Improve UI
      </li>
      <li>
        Integrate into other systems
      </li>
      <li>
        Transparency into Innovation Centers
      </li>
    </ul>
    <p>
      <strong>Common Findings</strong>
    </p>
    <ul>
      <li>
        Recognition/Incentives for employees to submit ideas
      </li>
      <li>
        JAMs are not typically used as suggested by the portal. Many LOBs schedule their own in-person brainstorming/whiteboarding sessions.
      </li>
      <li>
        Confusion between Campaign/JAM
      </li>
      <li>
        Integration with other systems
      </li>
      <li>
        Help the user during the submission process
        <ul class="details-text">
          <li>
            Make it clear what primary/secondary Line of Business is
            <ul class="details-text">
              <li>
                If LOB is selected incorrectly, it may not be looked at by anyone
              </li>
              <li>
                User Suggestion: Send ideas to a common bucket, not a specific LOB Owner
              </li>
              <li>
                No option to reassign/change LOB after rejected due to submission to incorrect LOB
              </li>
            </ul>
          </li>
          <li>
            Make the process transparent - what stage the idea is in, what the next step is, etc.
          </li>
        </ul>
      </li>
      <li>
        Users often get frustrated after they submit ideas, as they do not know what happens to them once they are submitted
      </li>
      <li>
        The multiple-level approval is confusing - preferred would be a flat approval process
      </li>
      <li>
        Found system difficult to use for idea submissions
      </li>
      <li>
        Lots of emails from the portal about ideas that require no action
      </li>
      <li>
        Almost every idea received requires offline interaction = less transparency
      </li>
      <li>
        Track ideas in Excel
      </li>
      <li>
        People may not submit ideas because they think it may have to be a big idea
      </li>
      <li>
        After the annual idea competition ends, many ideas are "orphaned" - no clear owner with clear responsibility
      </li>
      <li>
        Many ideas in the past are related to campaigns
      </li>
    </ul>

    <h3>Defining User Personas</h3>
    <p>
      Through user interviews, we identified five primary personas:
    </p>
    <!-- Submitter -->
    <p>
      <strong>1| Submitter</strong>
    </p>
    <p>Primary Tasks</p>
    <ul>
      <li>Ability to view submitted ideas in the Idea Review stage</li>
      <li>Ability to comment on ideas</li>
      <li>Ability to upvote/downvote ideas</li>
      <li>Ability to submit ideas</li>
    </ul>
    <p>Level of Confidence with Portal: Low</p>
    <ul>
      <li>
        Will need FAQs, access to LOB information to understand where to submit their ideas, access to information to understand differentiation between types of idea submission forms
      </li>
    </ul>
    <!-- End Submitter -->

    <!-- Business Reviewer -->
    <p>
      <strong>2| Business Reviewer</strong>
    </p>
    <p>Primary Tasks</p>
    <ul>
      <li>Ability to review submitted ideas</li>
      <li>Ability to comment on, approve, and reject ideas</li>
    </ul>
    <p>Secondary Tasks</p>
    <ul>
      <li>All tasks of Submitter persona</li>
    </ul>
    <p>Level of Confidence with Portal: Low</p>
    <ul>
      <li>
        User may not know how to review an idea
      </li>
    </ul>
    <!-- End Business Reviewer -->

    <!-- General Admin -->
    <p>
      <strong>3| General Admin</strong>
    </p>
    <p>Primary Tasks</p>
    <ul>
      <li>Ability to configure email messages</li>
    </ul>
    <p>Secondary Tasks</p>
    <ul>
      <li>All tasks of Submitter persona</li>
      <li>All tasks of Business Reviewer persona</li>
    </ul>
    <p>Level of Confidence with Portal: Medium</p>
    <ul>
      <li>
        Access is delegated by Innovation Champion
      </li>
    </ul>
    <!-- End General Admin -->

    <!-- Innovation Champion -->
    <p>
      <strong>4| Innovation Champion</strong>
    </p>
    <p>Primary Tasks</p>
    <ul>
      <li>Ability to configure email messages</li>
      <li>Ability to manage user access</li>
    </ul>
    <p>Secondary Tasks</p>
    <ul>
      <li>All tasks of Submitter persona</li>
      <li>All tasks of Business Reviewer persona</li>
      <li>All tasks of General Admin persona</li>
    </ul>
    <p>Level of Confidence with Portal: High</p>
    <ul>
      <li>
        Access is delegated by Overall Admin
      </li>
    </ul>
    <!-- End Innovation Champion -->

    <!-- Overall Admin -->
    <p>
      <strong>5| Overall Admin</strong>
    </p>
    <p>Primary Tasks</p>
    <ul>
      <li>Ability to maintain and configure site</li>
      <li>Ability to configure email messages</li>
      <li>Ability to manage user access</li>
    </ul>
    <p>Secondary Tasks</p>
    <ul>
      <li>All tasks of other users</li>
    </ul>
    <p>Level of Confidence with Portal: Expert</p>
    <ul>
      <li>
        Represents "Super User" Persona
      </li>
    </ul>
    <!-- End Overall Admin -->

    <h2>3| Define the Problem </h2>
    <p>
      After defining the user personas, the problem statements can be defined as follows:
    </p>
    <div>
      <ol>
        <li>
          <p>
            <strong>Submitters</strong> need to be able to easily submit ideas, track the status of ideas, and view submitted ideas.
          </p>
        </li>
        <li>
          <p>
            <strong>Business Reviewers</strong> need to be able to easily review submitted ideas, while receiving meaningful notifications of required action.
          </p>
        </li>
        <li>
          <p>
            <strong>General Admins</strong> need to be able to easily configure email messages, as well as approve ideas.
          </p>
        </li>
        <li>
          <p>
            <strong>Innovation Champions</strong> need to be able to run campaigns, configure user access, and review ideas.
          </p>
        </li>
        <li>
          <p>
            <strong>Overall Admins</strong> need to be able to maintain and configure the site, as well as manage user access and onboard and delegate new users of more experienced personas.
          </p>
        </li>
      </ol>
    </div>

    <h2>4| Ideate Possible Solutions </h2>
    <p>
      After listening to feedback from users, I drew out screen ideas for what the redesigned application could look like.
    </p>

    <img class="img-fluid" src="../../assets/images/idea_sketch.jpg" style="max-height: 800px;">

    <div style="padding-top: 15px;">
      <strong>Features</strong>
      <p>
        The application should be accessible from the Intranet Homepage. To interact from the homepage, a portlet is displayed that allows the user to view top ideas and upvote or downvote them directly from the homepage.
      <p>
      <p>
        The Idea Portal homepage displays featured ideas and calls to action for the user to get involved in idea submission and competitions. The "Submit Idea" button is clear and apparent at the top of all relevant pages.
      </p>
      <p>
        The idea submission page is now simple and clear, with the status of the submission clearly displayed at the top of the page.
      </p>
      <p>
        Ideas are now clear to find, with separations by idea type and submitter. Filters allow the user to clearly sort through all ideas to find the ones they're interested in.
      </p>
      <p>
        Campaigns now have their own navigation tab and clearly show what campaigns are ongoing, when they end, and how to be a part of one.
      </p>
      <p>
        The metrics page displays meaningful metrics, including idea submission by status, over time, and by business.
      </p>
    </div>

    <div style="padding-top: 15px;">
      <strong>Updated Information Architecture</strong>
      <p>
        The site previously had a top and left hand navigation, which made it difficult to find information. The new information architecture is organized by function, as follows:
      </p>
      <ul>
        <li>
          <strong>Home</strong>
        </li>
        <li>
          <strong>Ideas</strong>
          <ul>
            <li>
              All Ideas
              <ul>
                <li>
                  All Ideas
                </li>
                <li>
                  Cross Business Ideas
                </li>
                <li>
                  Ideas by Tag
                </li>
              </ul>
            </li>
            <li>
              My Ideas
              <ul>
                <li>
                  My Ideas
                </li>
                <li>
                  For My Approval
                </li>
                <li>
                  Ideas I Own
                </li>
                <li>
                  Recommended to Me
                </li>
                <li>
                  My Subscriptions
                </li>
              </ul>
            </li>
            <li>
              Submit an Idea
            </li>
          </ul>
        </li>
        <li>
          <strong>Campaigns</strong>
          <ul>
            <li>
              Campaigns Home
            </li>
            <li>
              View all Campaigns
            </li>
            <li>
              My Campaigns
            </li>
          </ul>
        </li>
        <li>
          <strong>Metrics</strong>
        </li>
        <li>
          <strong>Admin</strong>
          <ul>
            <li>
              Admin Configuration
            </li>
            <li>
              Manage Keywords
            </li>
            <li>
              Manage Campaigns
            </li>
            <li>
              Workstreams
            </li>
            <li>
              Manage Business
            </li>
            <li>
              Manage Primary Functions
            </li>
            <li>
              Manage Mail Content
            </li>
            <li>
              Manage FAQs
            </li>
          </ul>
        </li>
        <li>
          <strong>Archive</strong>
          <ul>
            <li>
              Idea Archive
              <ul>
                <li>
                  Archive Ideas
                </li>
                <li>
                  View Archived Ideas
                </li>
              </ul>
            </li>
            <li>
              JAM Archive
              <ul>
                <li>
                  JAM Archive
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <strong>Resources</strong>
          <ul>
            <li>
              Your Innovation Team
            </li>
            <li>
              Profiles of Success
            </li>
            <li>
              Share our Story
            </li>
            <li>
              Innovation Training
            </li>
            <li>
              Employee Awards & Recognition
            </li>
            <li>
              Tools & Templates
            </li>
            <li>
              Innovation Centers
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <h2 class="h2-details col-12">5| Prototyping & User Feedback </h2>
    <p class="col-12 details-text">
      High-fidelity prototype and user testing results to come.
    </p>


  </div>
</div>
