<div class="container-fluid p-0">
  <mat-toolbar color="primary" class="portfolio-toolbar-lg" *ngIf="path !== '/portfolio/help/help-demo'">
    <mat-toolbar-row>
      <span class="mat-display-1 megrim-headline">
        <a href="about" routerLink="/about">Loriah Pope</a></span>
      <span class="example-spacer"></span>
      <span class="mat-body-1 nav-item">
        <a href="about" routerLink="/about" routerLinkActive="active-link">About</a>
      </span>
      <span class="mat-body-1 nav-item">
        <a href="portfolio" routerLink="/portfolio" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">Portfolio</a>
      </span>
      <span class="mat-body-1 nav-item">
        <a href="resume" routerLink="/resume" routerLinkActive="active-link">Resume</a>
      </span>
      <span class="mat-body-1 nav-item">
        <a href="contact" routerLink="/contact" routerLinkActive="active-link">Contact</a>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar color="primary" class="portfolio-toolbar-sm" *ngIf="path !== '/portfolio/help/help-demo'">
    <mat-toolbar-row>
      <span class="mat-display-1 megrim-headline"><a href="about" routerLink="/about">Loriah Pope</a></span>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu" class="nav-menu">Menu <i class="material-icons">expand_more</i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="mat-body-1"><a href="about" routerLink="/about" routerLinkActive="active-link"
                                                    class=" button-nav-item">About</a></button>
        <button mat-menu-item class="mat-body-1"><a href="portfolio" routerLink="/portfolio"
                                                    routerLinkActive="active-link"
                                                    class=" button-nav-item">Portfolio</a></button>
        <button mat-menu-item class="mat-body-1"><a href="resume" routerLink="/resume" routerLinkActive="active-link"
                                                    class=" button-nav-item">Resume</a></button>
        <button mat-menu-item class="mat-body-1"><a href="contact" routerLink="/contact" routerLinkActive="active-link"
                                                    class=" button-nav-item">Contact</a></button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<div class="container-fluid p-0" *ngIf="isPortfolioPath()">
  <mat-toolbar class="portfolio-toolbar-lg portfolio-item-nav">
    <mat-toolbar-row>
      <span class="mat-body-1 nav-item">
        <a href="portfolio" routerLink="/portfolio" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}">View All</a>
      </span>
      <span class="mat-body-1 nav-item">
        <a href="portfolio/help" routerLink="/portfolio/help" routerLinkActive="active-link">Help Screen</a>
      </span>

      <span class="mat-body-1 nav-item">
        <a href="portfolio/idea" routerLink="/portfolio/idea" routerLinkActive="active-link">Idea Site</a>
      </span>

      <span class="mat-body-1 nav-item">
        <a href="portfolio/vacation" routerLink="/portfolio/vacation" routerLinkActive="active-link">Vacation Request Site</a>
      </span>

      <span class="mat-body-1 nav-item">
        <a href="portfolio/icons" routerLink="/portfolio/icons" routerLinkActive="active-link">Material Icons</a>
      </span>

      <span class="mat-body-1 nav-item">
        <a href="portfolio/handlettering" routerLink="/portfolio/handlettering" routerLinkActive="active-link">Handlettering</a>
      </span>

      <span class="mat-body-1 nav-item">
        <a href="portfolio/daily-ui" routerLink="/portfolio/daily-ui" routerLinkActive="active-link">Daily UI Challenges</a>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
