<div class="row">
  <div class="col xs-12 col-md-10 offset-md-1 m-top-20">
    <span><a href="../../assets/downloads/Loriah%20Pope%20Resume%20-%20UX%20Designer%20and%20Developer.pdf" class="em mat-accent download-resume" download="">Download my resume</a></span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-1 m-top-20 experience">
    <section class="work-experience">
      <h2>Work Experience</h2>
      <div class="resume-item">
        <h3 class="resume-item-title">Bank of New York Mellon</h3>
        <h4 class="resume-item-subtitle-1 mat-caption">Design Technologist | Jersey City, NJ | Jun '15 - Present</h4>
        <h5 class="resume-item-subtitle-2 em mat-accent m-bot-20">Best of Class Award 2017</h5>
        <p class="resume-item-description">
          Redesigned the employee and client experience while following the Design Thinking process. Conducted client interviews, analyzed insights, and designed high-fidelity prototypes using industry-standard prototyping tools.
        </p>
        <p class="resume-item-description">
          Developed production ready prototypes using AngularJS, Bootstrap, and HTML5. Collaborated with business partners to ensure timely delivery of high-profile and client facing projects.
        </p>
        <p class="resume-item-description">
          Worked across Design, Product, and Engineering teams to define a strategy for delivering reusable UI components to developers. Utilized Angular, Bootstrap, Sass, and HTML to build a library of reusable common components in AngularJS.
        </p>
        <p class="resume-item-description">
          Spearheaded the migration of AngularJS components to Angular. Created a migration plan, assembled a team, and evangelized the new component library to Design, Product, and Engineering Teams, and led workshops and sessions to inform and educate the general population.
        </p>
      </div>
      <div class="resume-item">
        <h3 class="resume-item-title">Bank of New York Mellon</h3>
        <h4 class="resume-item-subtitle-1">Application Development Program | Jersey City, NJ | Jun '15 - Aug '15</h4>
        <p class="resume-item-description">
          Highly selective technical 10-week training program introducing new graduates to various technologies, as well as the software and product development life cycles.
        </p>
      </div>
      <div class="resume-item">
        <h3 class="resume-item-title">Victoria's Secret PINK</h3>
        <h4 class="resume-item-subtitle-1">Front-End Developer Intern | New York, NY | Jun '14 - Aug '14</h4>
        <p class="resume-item-description">
          Owned and launched several projects using JQuery, SASS, Node, Grunt, Bootstrap, and HTML5 based on UX prototypes.
        </p>
      </div>
    </section>

    <section class="education">
      <h2>Education</h2>
      <div class="resume-item">
        <h3 class="resume-item-title">New York University</h3>
        <h4 class="resume-item-subtitle-1">B.A., Computer Science | New York, NY | May '15</h4>

        <h3 class="resume-item-title-2">Resident Assistant</h3>
        <h4 class="resume-item-subtitle-1">Coral Tower | Aug '14 - May '15</h4>

        <h3 class="resume-item-title-2">President</h3>
        <h4 class="resume-item-subtitle-1">Alpha Phi Omega National Service Fraternity | May '14 - May '15</h4>

        <h3 class="resume-item-title-2">Member</h3>
        <h4 class="resume-item-subtitle-1">National Residence Hall Honorary | May '14 - May '15</h4>

        <h3 class="resume-item-title-2">Study Abroad - London</h3>
        <h4 class="resume-item-subtitle-1">University College London | Jan '14 - May '14</h4>

        <h3 class="resume-item-title-2">Vice President of Membership</h3>
        <h4 class="resume-item-subtitle-1">Alpha Phi Omega National Service Fraternity | May '13 - Dec '13</h4>

        <h3 class="resume-item-title-2">Resident Assistant</h3>
        <h4 class="resume-item-subtitle-1">Alpha Phi Omega National Service Fraternity | Dec '12 - May '13</h4>

      </div>
    </section>
  </div>

  <div class="col-xs-12 col-md-4 m-top-20 skills">
    <section class="certifications">
      <h3 class="resume-item-title">Certifications</h3>
      <h3 class="resume-item-title-2">User Experience Certification</h3>
      <h4 class="resume-item-subtitle-1">Neilsen Norman Group | License 1010520 | Nov '15</h4>
    </section>

    <section class="speaking">
      <h3 class="resume-item-title">Speaking Engagements</h3>
      <h3 class="resume-item-title-2">"The Struggle is Real: Surviving the Product Development Life Cycle"</h3>
      <h4 class="resume-item-subtitle-1">Grace Hopper Conference | Oct '17</h4>

      <h3 class="resume-item-title-2">Design Thinking Workshops</h3>
      <h4 class="resume-item-subtitle-1">BNY Mellon | Jun '15 - Ongoing</h4>
    </section>

    <section class="design-tools">
      <h3 class="resume-item-title">Design & Prototype Methods</h3>
      <ul>
        <li *ngFor="let method of designMethods">{{method}}</li>
      </ul>
    </section>

    <section class="dev-tools">
      <h3 class="resume-item-title">Front-End Development Technologies</h3>
      <ul>
        <li *ngFor="let technology of devTechnologies">{{technology}}</li>
      </ul>
    </section>

  </div>
</div>
